/* classes generiques */
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p {
  color: #1a1a1a;
  font-weight: 200;
}

/* barra de navegació */
nav {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-verd {
  height: 30px;
  margin: 10px;
}

.menu {
  padding: 0;
  margin-right: 5px;
  /* margin-right: 10px; */
}

.menu > li {
  display: inline;
  font-size: 0.8rem;
  color: #1a1a1a;
  margin: 5px;
}

/* capçalera */

.header {
  width: 100vw;
  height: 70vh;
  margin-top: 50px;
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header > p {
  color: #fff;
  width: 75%;
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: #fff;
  font-weight: 400;
  font-size: 2.5rem;
}

/* Part 2 */
.part2 {
  height: 900px;
  padding: 20px;
}

.lletra {
  border-bottom: 3px #00b172 solid;
  color: #1a1a1a;
  font-weight: 400;
  text-align: center;
  margin: auto;
  width: 200px;
  padding-bottom: 5px;
}

h3 {
  color: #00b172;
  margin: 23px 0px;
}
.caixa-gran {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
.caixetes {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  height: 250px;
  /* border: #1a1a1a solid 1px; */
}
.caixetes > img {
  height: 90px;
}

.caixetes > p {
  text-align: center;
}

/* zona verda */

.zona-verda {
  height: 1000px;
  background-color: #00b172;
}

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
