/* classes generiques */
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: aqua;
}

p {
  color: #1a1a1a;
}

/* barra de navegació */
nav {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-verd {
  height: 30px;
  margin: 10px;
}

.menu {
  padding: 0;
  margin-right: 5px;
  /* margin-right: 10px; */
}

.menu > li {
  display: inline;
  font-size: 0.8rem;
  color: #1a1a1a;
  margin: 5px;
}

/* capçalera */

.header {
  width: 100vw;
  height: 70vh;
  margin-top: 50px;
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header > p {
  color: #fff;
  width: 75%;
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: #fff;
  font-weight: 400;
  font-size: 2.5rem;
}

/* Part 2 */
h2 {
}

h3 {
}
.caixetes {
}
/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
